footer{
    .pago-envio{
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 35px;
        @media screen and (max-width: 480px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .redes{
        @extend .pago-envio
    }
    .bi-instagram{
        color: #eb738d;
    }
    .bi-facebook{
        color: $h2color;
    }
    .bi-whatsapp{
        color: green;
    }
    .nav2{
        background: rgb(75, 228, 156);
        margin: auto;
    }
    h3{
        text-align: center;
    }
}