footer{
    .pago-envio{
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 5px;
        gap: 25px;
        list-style: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 35px;
        @media screen and (max-width: 480px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .redes{
        @extend .pago-envio
    }
    .bi-instagram{
        color: #eb738d;
    }
    .bi-facebook{
        color: $h1color;
    }
    .bi-whatsapp{
        color: green;
    }
    .nav2{
        background: $h2color;
        margin: auto;
        ul{
            li{
                a{
                    &:hover{
                        color: $h1color;
                    }
                }
            }
        }
    }
    h3{
        text-align: center;
    }
}