main{
    h2{
        color: $h2color;
        text-align: center;
    }
    .productos{
        width: 95%;
        text-align: center;
        margin: 10px auto;
        padding: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: (1fr 1fr 1fr);
        grid-template-rows: (1fr 1fr);
        grid-template-areas:
            "celusA celusB celusC"
            "celusD celusE celusF"
            "celusG celusH celusI" ;
            @media screen and (max-width: 480px){
            grid-template-columns: (1fr);
            grid-template-rows:(1fr 1fr 1fr 1fr 1fr 1fr);
            grid-template-areas: 
            "celusA"
            "celusB"
            "celusC"
            "celusD"
            "celusE"
            "celusF"
            "celusG"
            "celusH"
            "celusI";
        }
    }
    p{
        text-align: justify;
        margin: 10px auto;
        padding: 5px;
    }
}